*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image: url(1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav-Icon{
    background: rgb(0,0,0,0.5);
    height: 80px;
}
.Menu{
    margin: 20px;
    list-style: none;
    float: right;
}
.Menu li{
    display: inline-block;
    margin: 11px;
}
.Menu li a{
text-decoration: wavy;
padding: 10px;
font-family: sans-serif;
color: #fff;
letter-spacing: 3px;
border: 1px solid #fff;
}
.WelcomeYC{
position: relative;
text-align: center;
font-family: cursive;
color: cornflowerblue;
top: 170px;
}
.WelcomeYC h1{
    font-size: 50px;
    margin: 25px;
}
.Start{
    letter-spacing: 3px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
}
